[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.0.1"
file-read-backwards = "==2.0.0"
pillow = "==9.2.0"
python-dotenv = "==0.21.0"
rcon = "==2.1.1"
tabulate = "==0.8.10"

[dev-packages]

[requires]
python_version = "3.10"
